{% extends 'basePokemon.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div style="margin-left:32%; margin-right:32%; margin-top:5%">


    {{include('pokemon/addPokemonCasanier.html.twig',{btnSubmit:"Modifier"})}}


</div>
{% endblock %}