{% extends 'basePokemon.html.twig' %}

{% block title %}
	Erreurs
{% endblock %}


{% block body %}

<h1>Une erreur s'est produite</h1>
<p class="alert alert-secondary mt-5" role="alert">{{ message }}</p>


{% endblock %}

